<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Form</title>
<link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<body>
	<h1>New Product</h1>
	<hr>
	<form action="/spring-mvc-java/add" th:action="@{/add}"
		th:object="${product}" method="post" modelAttribute="product">
		<p>
			Code: <input id="code" type="text" th:field="*{code}" />
		</p>
		<p>
			Name: <input id="name" type="text" th:field="*{name}" />
		</p>
		<p>
			Description: <input id="description" type="text" th:field="*{description}" />
		</p>
		<p>
			Price: <input id="price" type="text" th:field="*{price}" />
		</p>
		<br>
		<p>
			<input id="add" type="submit" value="Submit" role="button" class="buttonV" />
			<input type="reset" value="Clear All" role="button" class="buttonY" />
		</p>
	</form>
	<br>
	<a th:href="@{/list}" role="button" class="buttonB">Return</a>
	<footer>
		<a th:href="@{/logout}" role="button" class="buttonR">&#10006;
			Cerrar Sesion</a>
	</footer>
</body>
</html>