<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>th:text="${product.code}"</title>
<link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<body>
	<h1>Product Result</h1>
	<hr>
	<p th:text="'Code: ' + ${product.code}"></p>
	<p th:text="'Name: ' + ${product.name}"></p>
	<p th:text="'Description: ' + ${product.description}"></p>
	<p th:text="'Price: ' + ${product.price}"></p>
	<br>
	<a th:href="@{/list}" role="button" class="buttonB">Return</a>
	<footer>
		<a th:href="@{/logout}" role="button" class="buttonR">&#10006;
			Cerrar Sesion</a>
	</footer>
</body>
</html>